.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.history/

dist/
lib/

coverage
config/static/out.css
config/static/out.css.map
config/static/out.js
config/static/out.js.map
config/tsconfig.tsbuildinfo
